# ---- Airflow Admin --------
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ---- Airflow Database (metadata) ----
AIRFLOW_DB_URL=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor

# ---- Heycar Project Database ----
DB_HOST=postgres_heycar
DB_PORT=5432
DB_NAME=heycar
DB_USER=heycar
DB_PASSWORD=changeme
DB_SCHEMA=public
DATABASE_URL=postgresql+psycopg2://heycar:changeme@postgres_heycar:5432/heycar

# ---- Scraper Settings ----
SCRAPE_TIMEOUT_SEC=25
SCRAPE_CONCURRENCY=1
SCRAPE_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36
RAW_DIR=data/raw
